// Place all the styles related to the sentiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#query {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 40px;
  width: 300px;
  font-size: 32px;
  text-align: center;
}

.submit {
  margin-left: 10px;
  height: 35px;
  font-size: 18px;
}

.score {
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
}

.tweet-stream {
  position: absolute;
  width: 400px;
  right: 20px;

  list-style-type: none;
  
  li {
    border: 1px solid lightgray;
    height: 70px;
    padding: 10px;
  }
}